<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/dados/css/style.css">
    <title>Dados em Tempo Real</title>
</head>

<body>
    <div class="container">
        <h1>Dados em Tempo Real</h1>
        <div class="data-container">
            <div class="data">
                <h2>Uso da CPU</h2>
                <p id="cpuValue">0%</p>
            </div>

            <div class="data">
                <h2>Uso do Disco</h2>
                <p id="diskValue">0%</p>
            </div>

            <div class="data">
                <h2>Uso da Memória</h2>
                <p id="memoryValue">0%</p>
            </div>
        </div>
    </div>
    <script src="../static/index/js/script.js"></script>
</body>

</html>
