<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/index/css/style.css">
    <title>Sistema de Monitoramento</title>
</head>

<body>
    <div class="container">
        <header>
            <h1>Sistema de Monitoramento</h1>
        </header>
        <section class="dashboard">
            <div class="meter" id="cpuMeter">
                <h2>Uso da CPU</h2>
                <div class="value">0%</div>
            </div>

            <div class="meter" id="diskMeter">
                <h2>Uso do Disco</h2>
                <div class="value">0%</div>
            </div>

            <div class="meter" id="memoryMeter">
                <h2>Uso da Memória</h2>
                <div class="value">0%</div>
            </div>
        </section>
        <section class="realtime">
            <h2>Atualização em tempo real</h2>
        </section>
    </div>
    <script src="../static/index/js/script.js"></script>
</body>

</html>